{{ $page := . }}

<ol class="docnav-list">

    <li class="{{ if eq .Site.Home.File.UniqueID $page.File.UniqueID }}active {{ end }}">
        <a href="{{ .Site.Home.Permalink | relURL }}"> {{ .Site.Home.Params.nav_title }}</a>
    </li>

    {{ $docs := sort (where .Site.Pages "Section" "docs") ".Params.weight" }}
    {{ range where $docs ".Params.nav_section" "Root" }}
    {{ if not .Params.hidden }}
    <li class="{{ if eq .File.UniqueID $page.File.UniqueID }}active {{ end }}">
        <a href="{{ .Permalink | relURL }}"> {{ .Params.nav_title }}</a>
    </li>
    {{ end }}
    {{ end }}

    {{ $groups := slice }}
    {{ range $docs }}
    {{ if and (not (eq .Params.nav_section "Root")) (not .Params.hidden) }}
    {{ $groups = $groups | append .Params.nav_section }}
    {{ end }}
    {{ end }}
    {{ $groups = uniq $groups }}

    {{ range $groups }}
    <li>
        <p class="docnav-title">{{ . }}</p>
        <ol class="docnav-list">
            {{ range where $docs ".Params.nav_section" . }}
            {{ if not .Params.hidden }}
            <li class="{{ if eq .File.UniqueID $page.File.UniqueID }}active {{ end }}">
                <a href="{{ .Permalink | relURL }}"> {{ .Params.nav_title }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ol>
    </li>
    {{ end }}
</ol>